.orange-color{
    color: orange;
}
section{
    display: flex;

}
.half-width{
    padding-left: 15%;
    width: 50%;
    
}
.half-width img{
    width: 80%;
}
.link-button{
    background-image:linear-gradient(orange,tomato);
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    color: white;
    font-weight: 400;
    
}
.second-half img{
    width: 50%;
}
.second-half {
    width: 90%;
    padding-top: 100px;
}
.about-me{
    background-image: url(images/3.png);
}
.order-button{
    background-image:linear-gradient(orange,tomato);
    text-decoration: none;
    border-radius: 30px;
    padding: 20px;
    color: white;
    font-weight: 400;
    
    
}
.text{
    margin-bottom: 100px;
     
}
.text p{
    padding:5px;
  font-size: 20px; 
}
.my-recipies{
    text-align: center;
}
